body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.carousel {
    max-width: 1000px;
    width: 100%;
    height: 70vh;
    margin: auto;
}

.carousel-item img {
    object-fit: cover;
    width: 100%;
    height: 70vh;
    overflow: hidden;
}

.search-btn {
    width: 175px;
    justify-content: space-between;
}

.fa-magnifying-glass {
    margin-right: 10px;
}